/* This file is for your main application CSS */
@import "./phoenix.css";
.tiles {
  display: flex;
  margin-left: -1rem;
  flex-wrap: wrap;
}

.tile {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  min-width: 48%;
}

ul.metadata {
  list-style: none;
  margin-bottom: 0;
}

ul.metadata li:last-child {
  margin-bottom: 0;
}

ul.metadata li .button {
  margin-bottom: 0;
}

.button.danger {
  background-color: red;
  color: white;
}

.button-outline.danger {
  color: red;
  border-color: red;
  background-color: transparent;
}